<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ClazzMapper">
>
    <select id="list" resultType="com.itheima.pojo.Clazz">
        select
            c.*,
            e.name,mastername,
            (case when begin_date > now() then '未开班' when now()> end_date then '已结课' else '在读中' end)status
            from clazz c
            left join emp e on c.master_id = e.id

    <if test="name != null and name != ''">

    </if>
            </where>


</mapper>