<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.StudentMapper">
    <select id="list" resultType="com.itheima.pojo.Student">
        select
        s.*,
        c.name clazzName
        from student s left join clazz c on s.clazz_id = c.id
        <where>
            <if test="name != null and name != ''">
                s.name like concat('%',#{name},'%')
            </if>
            <if test="clazzId != null">
                and s.clazz_id = #{clazzId}
            </if>
            <if test="degree != null and degree != ''">
                and s.degree = #{degree}
            </if>
        </where>
        order by s.update_time desc
    </select>
</mapper>
